<div id="logo-container"></div>
<div id="login-container">
	<div id="messagebox-container"><%= t :logged_out_message %></div>
	<div id="logout-form"><p><a id="login-button" href="<%= Login.route(:/) %>">Login</a></p></div>
</div>
