body {
	background-image: url(bg.png);
	background-repeat: repeat-x;
	background-color: #3dadd5; 
}

#logo-container {
	margin: 0 auto;
}

#login-container {
	margin: 0 auto;
	width: 400px;
	height: 290px;
	border: 1px solid white;
}

#login-form-container {
	width: 450px;
	text-align: left;
	margin-top: 60px;
	margin-right: 20px;
}

#username {	width: 15em; margin-bottom: 10px; }
#password {	float: left; width: 10em; margin-bottom: 10px; }
#login-submit {	margin: 0px; padding: 0px; margin-left: 10px; }

#infoline {
	width: 300px;
	margin-right: 25px;
	margin-top: 10px;
	text-align: center;
	float: right;
	clear: both;
}

a {	text-decoration: none; }
a:hover { padding-bottom: 2px; border-bottom: 1px solid blue; }