<html>
<head>
	<title>Yale Central Authentication Service</title>
	<script>
	window.location.href="https://portal.yale.edu/Login?ticket=ST-..." mce_href="https://portal.yale.edu/Login?ticket=ST-...";
	</script>
</head>

<body>
	<noscript>
		<p>CAS login successful.</p>
		<p>  Click <a xhref="https://portal.yale.edu/Login?ticket=ST-..." mce_href="https://portal.yale.edu/Login?ticket=ST-...">here</a>
			to access the service you requested.<br />  </p>
	</noscropt>
</body>
</html>
