<html>
<head>
	<title><%= localize :cas_server %></title>
	<script>
	window.location.href="<%= @service %>" mce_href="<%= @service %>";
	</script>
</head>

<body>
	<noscript>
		<h1><%= localize :login_successful %></h1>
		<p>Click <a href="<%= @service %>" mce_href="<%= @service %>">here</a>
			to access the service you requested.
		</p>
	</noscropt>
</body>
</html>
