<% if @validated %>
<cas:serviceResponse xmlns:cas='<%= route "/" %>'>
    <cas:authenticationSuccess>
        <cas:user><%= @ticket.username %></cas:user>
    </cas:authenticationSuccess>
</cas:serviceResponse>
<% else %>
<cas:serviceResponse xmlns:cas='<%= route "/" %>'>
    <cas:authenticationFailure code="INVALID_TICKET">
        ticket <%= request[:ticket] %> not recognized
    </cas:authenticationFailure>
</cas:serviceResponse>
<% end %>
